.navigationPanel {
    transition: border-top-color 0.5s;
    z-index: 100;
    border-top: 1px solid var(--border-color);
    border-collapse: collapse;
    font-family: Josefin Sans, serif;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    font-size: 0.85rem;
    padding: 0 1.5rem;
    font-weight: 400;
    height: calc(4rem + 1px);
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.itemsLeft {
    transition: color 0.5s, opacity 0.5s;
    opacity: 0.5;
    user-select: none;
}

.clearButton {
    transition: color 0.5s, opacity 0.5s;
    color: var(--text-color);
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
}

.clearButton:hover {
    opacity: 0.8;
}


.clearButton:active {
    opacity: 1;
}