.taskContainer {
    transition: background-color 0.5s;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 1.5rem;
    height: 32rem;
    border-radius: 6px;
    flex-direction: column;
    justify-content: start;
    position: relative;
    background-color: var(--background-color);
}
.taskContainer::after {
    transition: background-color 0.5s;
    content: " ";
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    background-color: var(--background-color);
    bottom: calc(100% - 1px);
}

.taskList {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: calc(4rem);
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    padding: 0;
    overflow: auto;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.taskList::-webkit-scrollbar {
    display: none;
}

@media (max-height: 1040px) {
    .taskContainer {
        height: 36rem;
    }
}

@media (max-height: 960px) {
    .taskContainer {
        height: 32rem;
    }
}

@media (max-height: 880px) {
    .taskContainer {
        height: 28rem;
    }
}

@media (max-height: 800px) {
    .taskContainer {
        height: 24rem;
    }
}

@media (max-height: 720px) {
    .taskContainer {
        height: 20rem;
    }
}

@media (max-height: 640px) {
    .taskContainer {
        height: 16rem;
    }
}

@media (max-height: 560px) {
    .taskContainer {
        height: 12rem;
    }
}

@media (max-height: 480px) {
    .taskContainer {
        height: 8rem;
    }
}
