.taskContainer {
    transition: background-color 0.5s;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 1.5rem;
    height: auto;
    border-radius: 6px;
    flex-direction: column;
    border-collapse: collapse;
    justify-content: start;
    background-color: var(--background-color);
}

.taskList {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    list-style-type: none;
    height: 36rem;
    color: black;
    padding: 0;
    overflow: auto;
    flex-direction: column;
    border-collapse: collapse;

    display: flex;
    width: 100%;
}

.taskList::-webkit-scrollbar {
    display: none;
}

@media (max-height: 1040px) {
    .taskList {
        height: 32rem;
    }
}

@media (max-height: 960px) {
    .taskList {
        height: 28rem;
    }
}

@media (max-height: 880px) {
    .taskList {
        height: 24rem;
    }
}

@media (max-height: 800px) {
    .taskList {
        height: 20rem;
    }
}

@media (max-height: 720px) {
    .taskList {
        height: 16rem;
    }
}

@media (max-height: 640px) {
    .taskList {
        height: 12rem;
    }
}

@media (max-height: 560px) {
    .taskList {
        height: 8rem;
    }
}

@media (max-height: 480px) {
    .taskList {
        height: 4rem;
    }
}
