@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

html {
    display: flex;
    justify-content: center;
}


body, html {
    display: flex;
    justify-content: center;
    padding: 0;
    min-height: 100dvh;
    color: white;
    margin: 0;
    transition: background-color 0.5s;

}

.todo-label, .text-input, .task-text {
    font-family: Josefin Sans, serif;
}

.todo-label {
    font-size: clamp(1.5rem, 4dvh, 2rem);
    color: white;

}

.background-image {
    background-image: url("../public/images/bg-desktop-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    opacity: 1;
    height: clamp(0px, 36dvh, 300px);
    justify-content: center;
    align-items: center;
}

.background-image::before {
    transition: opacity 0.5s;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: clamp(0px, 36dvh, 300px);
    justify-content: center;
    align-items: center;
    background-image: url("../public/images/bg-desktop-dark.jpg");
    opacity: 0;
}

.theme-switch-container {
    display: flex;
    position: relative;
}

.theme-switch {
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    height: 100%;
    z-index: 2;
}

.theme-switch-container {
    transition: all 0.5s;
    position: relative;
}
.moon-icon {
    transition: opacity 0.5s;
}
.sun-icon {
    transition: opacity 0.5s;
    position: absolute;
    opacity: 0;
}


.application {
    margin-top: clamp(0rem, 8vh, 8rem);
    width: clamp(14rem, 50vw, 32rem);
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 600;
    flex-direction: row;
}

.text-input-container {
    transition: background-color 0.5s;
    align-items: center;
    margin-top: clamp(0rem, 5vh, 3rem);
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    height: 4rem;
    flex-direction: row;
    background-color: var(--background-color);
}

.input-checkMark-container {
    transition: border-color 0.5s;
    border: 1px solid var(--border-color);
    flex-shrink: 0;
    text-align: center;
    width: 1.75rem;
    height: 1.75rem;
    margin: 0 1rem 0 1.5rem;
    border-radius: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-checkMark-container::before {
    transition: opacity 0.2s;
    content: "\2713";
    position: absolute;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    flex-shrink: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.input-check-mark {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


.text-input {
    transition: background-color 0.5s, color 0.5s;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-family: Josefin Sans, serif;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    background-color: var(--background-color);
}

.text-input:focus {
    outline: none;
}


.task-list::-webkit-scrollbar {
    display: none;
}


.created-task::before {
    opacity: 1;
}


.checked-task-text {
    text-decoration: line-through;
    opacity: 0.5;
}


@media (max-width: 768px) {
    .application {
        width: clamp(14rem, 85vw, 32rem);
    }
}

.dark-theme {
    background-color: hsl(235, 21%, 11%);

    .theme-switch-container {
        transform: rotate(90deg);
    }

    .moon-icon {
        opacity: 0;
    }

    .sun-icon {
        opacity: 1;
    }

    .background-image::before {
        opacity: 1;
    }

    .task-checkbox-container {
        border: 1px solid hsl(0, 0%, 60%);
    }

}