@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

body, .task-text, .delete-button, .moon-icon, .sun-icon, .input-checkMark-container,  .text-input, .items-left, .clear-button, .filter-buttons, li, .navigation-panel, .task-container, .text-input-container, .background-image::before, .theme-switch-container {
}

html {
    font-family: Josefin Sans, serif;
    display: flex;
    justify-content: center;
}


body, html {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    padding: 0;
    min-height: 100vh;
    color: white;
    margin: 0;
}

.todo-label {
    color: white;
}

.background-image {
    background-image: url("../public/images/bg-desktop-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    opacity: 1;
    height: clamp(0px, 48vh, 300px);
    justify-content: center;
    align-items: center;
}

.background-image::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: clamp(0px, 48vh, 300px);
    justify-content: center;
    align-items: center;
    background-image: url("../public/images/bg-desktop-dark.jpg");
    opacity: 0;
}

.theme-switch-container {
    display: flex;
    position: relative;
}

.theme-switch {
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    height: 100%;
    z-index: 2;
}

.theme-switch-container {
    position: relative;
}

.sun-icon {
    position: absolute;
    opacity: 0;
}

.items-left, .clear-button {
    opacity: 0.5;
}

.clear-button {
    user-select: none;
    cursor: pointer;
}

@media (hover: hover) {
    .clear-button:hover {
        opacity: 0.8;
    }
}

.clear-button:active {
    opacity: 1;
}

.items-left {
    user-select: none;
}

.application {
    margin-top: clamp(0rem, 8vh, 8rem);
    width: clamp(14rem, 50vw, 32rem);
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 600;
    flex-direction: row;
}

.text-input-container {
    align-items: center;
    margin-top: clamp(0rem, 5vh, 3rem);
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    height: clamp(2rem, 8vh, 4rem);
    flex-direction: row;
    background-color: white;
}

.input-checkMark-container {
    border: 1px solid hsl(0, 0%, 90%);;
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-checkMark-container::before {
    transition: opacity 0.2s;
    content: "\2713";
    position: absolute;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    flex-shrink: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.input-check-mark {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.task-checkbox-container {
    border: 1px solid hsl(0, 0%, 90%);
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.task:hover {
    .delete-button {
        opacity: 0.3;
    }

    .delete-button:hover {
        opacity: 0.6;
    }

    .delete-button:active {
        opacity: 1;
    }
}

.delete-button {
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    width: 4rem;
    opacity: 0;
    cursor: pointer;
    user-select: none;
    font-weight: 100;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-text {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.task-checkbox-container::before {
    transition: opacity 0.2s;
    content: "\2713";
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    margin: 0 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
}

.task-checkbox {
    cursor: pointer;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.text-input {
    height: 100%;
    color: hsl(235, 19%, 35%);
    font-family: Josefin Sans, serif;
    border: none;
    font-weight: 400;
    font-size: 1.15rem;
    display: flex;
    caret-color: hsl(220, 98%, 61%);;
}

.text-input:focus {
    outline: none;
}

.task-container {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: clamp(0.5rem, 3vh, 1.5rem);
    max-height: clamp(10rem, 48vh, 27.7rem);
    min-height: 11rem;
    border-radius: 6px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.task-list {
    margin: 0;
    list-style-type: none;
    color: black;
    padding: 0;
    overflow: auto;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.task-list::-webkit-scrollbar {
    display: none;
}

li {
    color: hsl(235, 19%, 35%);
    border-collapse: collapse;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    height: 4rem;
    border-bottom: 1px solid hsl(0, 0%, 95%);
}

.created-task::before {
    opacity: 1;
}
.navigation-panel {
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    font-size: 0.85rem;
    padding: 0 1rem;
    font-weight: 400;
    height: clamp(2rem, 6vh, 3rem);
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

p {
    transition: opacity 0s, color 0s;
    font-weight: 550;
    opacity: 0.5;
}

.checked-task-text {
    text-decoration: line-through;
    opacity: 0.5;
}


@media (max-width: 768px) {


    .task {
        .delete-button {
            opacity: 0.3;
        }

        .delete-button:active {
            opacity: 1;
        }
    }

    .filter-Active-container {
        margin: 0 1rem;
        position: relative;
    }

    .dark-theme {
        .filter {
            background-color: hsl(235, 24%, 19%)

        }
    }

    .application {
        width: clamp(14rem, 85vw, 32rem);
    }
}

.dark-theme {
    background-color: hsl(235, 21%, 11%);

    .input-checkMark-container {
        border: 1px solid hsl(0, 0%, 60%);

    }

    .theme-switch-container {
        transform: rotate(90deg);
    }

    .moon-icon {
        opacity: 0;
    }

    .sun-icon {
        opacity: 1;
    }

    .background-image::before {
        opacity: 1;
    }

    .text-input-container, .text-input, .task-container {
        color: hsl(234, 39%, 85%);
        background-color: hsl(235, 24%, 19%)
    }

    .filter {
        color: white;
    }

    .task-checkbox-container {
        border: 1px solid hsl(0, 0%, 60%);
    }

    .navigation-panel {
        box-shadow: 0 -2px 0 rgb(168, 168, 168);
    }

    .task {
        border-bottom-color: rgba(256, 256, 256, 0.6);
        color: hsl(234, 39%, 85%);
    }

    .items-left, .clear-button {
        color: white;
    }
}